<%- include("partials/header", { bot, user, path, title: "Home" }) %>

<%- include("partials/stars") %>
<%- include("partials/nav", { bot, user, path }) %>
    

    


      


    <div class="text-center d-flex justify-content-center">
<h1 class="neonText mainCoverText"> < OutPut > </h1>
    


<% if (!user) { %>
    <p class="slogan"> Making dreams into reality</p>
    <% } else { %>
   <p class="slogan"> Logged in as <%= user.username %>#<%= user.discriminator %></p>
            <% } %>

        </div>



<%- include("partials/footer") %>